.contact {
	background-color: $tertiary-bg-color;
	min-height: 50vh;
}

.contact__call {
	margin: 0 5% 0 5%;
	padding-top: 60px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& a {
		text-decoration: none;
		color: black;
	}
}

.contact__separator {
	margin: 0 5% 0 5%;
}

.contact__hours {
	padding: 30px 0 30px 0;
	margin: 0 5% 0 5%;
	&-header {
		text-align: center;
		padding-bottom: 30px;
	}
	&-hours {
		line-height: 2;
		& p {
			padding-bottom: 20px;
		}
	}
}

.contact__address {
	padding: 60px 0 30px 0;
	margin: 0 5% 0 5%;
	&-header {
		text-align: center;
		padding-bottom: 30px;
	}
}

.contact_address-address {
	line-height: 2;
	& p {
		padding-bottom: 20px;
	}
}

.contact__address-maps {
	padding: 30px 0 30px 0;
	display: flex;
	justify-content: center;
	& iframe {
		max-width: 90vw;
		filter: grayscale(100%);
	}
}
