header {
	display: flex;
	margin: 10px;
	padding-left: 10px;
	justify-content: space-between;
}

// Header logo & nav

.header {
	&__logo {
		width: 50px;
		height: 40px;
	}
	&__logo-img {
		width: 50px;
		height: 40px;
	}
	&__nav {
		width: 60%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		& a {
			text-decoration: none;
			color: black;
			&:hover {
				color: grey;
			}
		}
	}
}
